* {
    /* body */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    font-style: normal;
}

/* Navbar section Ending */
/* Hero Section */

.main {
    display: flex;
    background: #fff;
    
}

.main__container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width: 100%;
    align-items: center;
    background-image: url(../public/aboutus_banner.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 68% 100%;;
    z-index: 1;
    
}
.main__content {
    display: flex;
    z-index: 2;
    margin-left: 900px;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 80%;
    width: 35%;
    padding: 3% 10% 10% 10%;
    border-radius: 8px;
}

.banner__title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 113%;
    margin-bottom: 1rem;


}

.banner__title span {
    color: #e6a271;
}

.banner__subtitle {
    
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
}

.banner__subtitle span {
    color: #e6a271;
}
.banner__link {
    margin-top: 6rem;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

}
.banner__link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 968px) {
    /* Media Query for mobile devices  */
    .main {
        background: #ffe6a5;
    }
    .banner__container {
        background-size: 90% 100%;;

    }
    .main__content{
        margin-left: 20px;
        width: 80%;
        height: 90%;
    }
    .banner__title{
        font-size: 28px;
        line-height: 32px;
    }
    .banner__subtitle {
        margin-top: 10px;
        font-size: 18px;
    }
    .banner__link{
        margin-top: 10px;
        font-size: 12px;
    }

}
/* Hero Section End */


/* Info Section  */
.aboutus__inforamtion {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.aboutus__information_left {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 80%;
    justify-content: space-between;
    
}
.aboutus__information_left h5{
    align-self: center;
    justify-self: justify;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    width: 45%;
    line-height: 37px;
    margin: 10rem;

}
.aboutus__information_left img {
    margin: 1rem;
    justify-self: flex-end;

}
.aboutus__inforamtion h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-self: center;
    width: 70%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.aboutus__inforamtion h3>span {
    color: #e6a271;
}
.aboutus__values {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    width: 80%;
    align-self: flex-end;
    padding-top: 4rem;
    padding-left: 3rem;
}

.aboutus__values h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 63px;
    margin-bottom: 1rem;
}
.aboutus__values_inside {
    display: flex;
    flex-wrap: wrap;
    
}
.spacing_bottom{
    margin-bottom: 8rem;
}
.spacing_bottom1{
    margin-bottom: 2rem;
}
.aboutus__values_inside p {
    width: 33%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
}

@media screen and (max-width: 968px) {
    .aboutus__inforamtion{
        padding:0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-items: center;
    }
    .aboutus__information_left{
        flex-direction: column-reverse;
        width: 90%;
    }
    .aboutus__information_left h5{
        margin: 0;
        width: 90%;
        margin-bottom: 1rem;
    }
    .aboutus__inforamtion h3{
        justify-self: justify;
        font-size: 16px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .aboutus__values {
        width: 90%;
        align-self: center;
    }
    .aboutus__values_inside p {
        width: 50%;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;
        font-size: 0.8rem;
    }

}
/* Info Section End */

/* Extra Information */
.aboutus__extra_info{
    margin-top: 2rem;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 65%;
}
.info h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    text-align: center;
    }
.info p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

@media screen and (max-width: 968px) {
    .aboutus__extra_info{
        width: 90%;
    }
    .info{
        justify-content: center;
    }
    .info h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .info p {
        font-size: 0.9rem;
    }
}
/* Extra Information End */

/* Involvement Section */
    .aboutus__involvement{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        padding: 4rem;
    }
    .aboutus__involvement h2 {
        
        margin-bottom: 4rem;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 84px;
        text-align: center;

        color: #ED6E13;
    }
    .involvement__inside {
        display: flex;
        width: 70%;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 5rem;
        padding-top: 5rem;
    }
    .involvement__pic_container {
        display: flex;
        position: relative;
        align-items: center;
        width: 33%;
        justify-content: center;
    align-items: center;
        margin-bottom: 4rem;
    }
    .involvement__pic_text {
        position: absolute;
        left: 25%;
        top: 45%;
        background-color: center;
        justify-self: center;
    }
    .involvement__pic_text p {
        
        background-color: #e2e2e2;
    }
@media screen and (max-width: 968px) {
    .aboutus__involvement{
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    
    } 
    .aboutus__involvement h2 {
        padding: 0;
        margin: 0;
        margin-top: 2rem;
        font-size: 2rem;
    }
    .involvement__inside{
        padding: 0;
        margin: 0;
        width: 90%;
        
        
    }
    .involvement__pic_container {
        width: 100%;
        margin: 1rem;
    }
}
/* Involvement Section Ending */