/* CSS for Main page */
* {
    /* body */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    font-style: normal;
}

.navbar {
    /* Navbar Main Container */
    background: #64B5BD;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    /* inside navbar container */
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    /* navbar logo css */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

#navbar__logo img{
    /* navbar logo item */
    height: 75%;

}

.navbar__menu {
    /* navbar Menu */
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    /* items on navbar */
    height: 80px;
}

.navbar__links {
    /* Links inside navbar */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    /* buttons inside navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    /* button css inside navbar */
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    border: none;
    outline: none;
    background: #f77062;
    color: #fff;
}

.button:hover {
    /* button hover atributes */
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    /* navbar  links hover attribute */
    color: #fff;
    transition: all 0.3s ease;
}


@media screen and (max-width: 968px) {
    /* Media Query for mobile devices  */
    .navbar {
        background-color: #AC9C2C;
    }
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbar__menu.active {
        background-color: #64B5BD;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar__logo {
        padding-left: 25px;

    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #000;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__items {
        text-align: center;
        padding: 2rem;
        width : 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);

    }
    .navbar__btn {
        padding-bottom: 2rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }
   
} 

/* Hero Section */
.main {
    display: flex;
    background: #fff;
    
}

.main__container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width: 100%;
    align-items: center;
    background-image: url(../public/home_banner.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 70% 100%;;
    z-index: 1;
    
}
.main__content {
    display: flex;
    z-index: 2;
    margin-left: 300px;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 80%;
    width: 35%;
    padding: 3% 10% 10% 10%;
    border-radius: 8px;
}

.banner__title{
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 84px;
}

.banner__subtitle {
    margin-top: 1rem;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
}

.banner__subtitle span {
    color: #e6a271;
}
.banner__link {
    margin-top: 6rem;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

}
.banner__link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 968px) {
    /* Media Query for mobile devices  */
    .banner__container {
        background-size: 90% 100%;;

    }
    .main__content{
        margin-left: 20px;
        width: 80%;
        height: 90%;
    }
    .banner__title{
        font-size: 28px;
        line-height: 32px;
    }
    .banner__subtitle {
        margin-top: 10px;
        font-size: 18px;
    }
    .banner__link{
        margin-top: 10px;
        font-size: 12px;
    }

}
/* Hero Section End */

/* Portfolio Section */
.services {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;    
    background-color: #e2e2e2;
}
.services h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 20%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 63px;
}

.services__portfolio_left{
    display: flex;
    align-self: flex-start;
    background-color: #fff;
    width: 70%;
    align-items: center;
    margin-bottom: 2rem;
}




/* Recent Portfolio Section */

.fabric {
    height: 90%;
    padding-left: 25%;
}

.texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    
}
.texts h2 {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.texts p {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.portfolio_end_img {
    height: 80%;
    margin-right: 10px;
    margin-left: 10px;
}

.services__portfolio_right {
    display: flex;
    align-self: flex-end;
    background-color: #fff;
    width: 70%;
    align-items: center;
    margin-bottom: 4rem;
}

.services__portfolio_right .fabric {
    margin: 0;
    padding: 0;
}
.services__more {
    text-decoration: none;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    align-self: flex-end;
    margin-right: 25%;
/* identical to box height, or 54px */

color: #000000;
}

.services__more:hover {
    text-decoration: underline;
}

@media screen and (max-width: 968px) {
    .services__portfolio_left{
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .services__portfolio_left{
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .services__portfolio_right{
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .fabric{
        padding-left: 0;

    }
}
/* Recent Portfolio  end*/ 


/* Recent Press Section */

.recent__press {
    display: flex;
    width: 100%; 
    justify-content: center;
}

.recent__press_inside{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.recent__press_inside h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;


}

.recent__press_cardholder {
    display: flex;
    flex-wrap: wrap;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 2rem;
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
.container h4{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 1rem;
}
  .container p {
      color: #e6a271;
      font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 968px) {
    .recent__press{
        justify-content: center;
    }
    .recent__press_cardholder{
        justify-content: center;
        margin-left: 10%;
        
    }
    .card {
        margin-bottom: 1rem;
        width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    }
}
  /* End Press Section */

  /* Footer Section Begins */
  .footer__section {
      display: flex;
      justify-content: center;
      background-color: #64b5bd;
      padding: 2rem;

  }
  .footer{
    display: flex;  
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__first {
      display: flex;
      flex-direction: column;
      width: 30%;
      justify-content: justify;
      text-align: center;
      margin-right: 2rem;

  }
  .footer__first img {
      margin-bottom: 10px;
  }

  .footer__first h4 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    
}

.footer__second {
    display: flex;
    flex-direction: column;
}

.footer__second h5{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.footer__email {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.footer__links {
    margin-top: 1rem;
}

.links {
    text-decoration: none;
    color: #000000;
    margin-right: 1rem;

}
.links:hover {
    text-decoration: underline;
    
}

.footer__third {
    margin-top: 2rem;
}

.footer__third span{
    display: flex;
    margin-top: 2rem;
}
.social_media {
    margin-right: 8px;
    text-decoration: none;
    color: #000;
}
.social_media:hover {
    color: blue;
}

@media screen and (max-width: 968px) {
    /* Media Query for mobile devices  */
    .footer__section {
        justify-content: center;
        background-color: #ac9c2c;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .footer__first{
        margin-bottom: 1rem;
    }
    .footer__first h4{
        font-size: 1rem;
    }
    .footer__links{
        display: flex;
        flex-direction: column;
    }
}

