  /* CSS for Main page */
* {
    /* body */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    font-style: normal;
}


/* Hero section Ending */
/* Hero Section */
.main {
    display: flex;
    background: #fff;
    
}

.main__container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width: 100%;
    align-items: center;
    background-image: url(../public/portfolio_banner.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 68% 100%;;
    z-index: 1;
    
}
.main__content {
    display: flex;
    z-index: 2;
    margin-left: 900px;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 80%;
    width: 35%;
    padding: 3% 10% 10% 10%;
    border-radius: 8px;
}

.banner__title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 113%;
    margin-bottom: 1rem;


}

.banner__title span {
    color: #e6a271;
}

.banner__subtitle {
    
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
}

.banner__subtitle span {
    color: #e6a271;
}
.banner__link {
    margin-top: 6rem;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

}
.banner__link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 968px) {
    /* Media Query for mobile devices  */
    .main {
        background: #ffe6a5;
    }
    .banner__container {
        background-size: 90% 100%;;

    }
    .main__content{
        margin-left: 20px;
        width: 80%;
        height: 90%;
    }
    .banner__title{
        font-size: 28px;
        line-height: 32px;
    }
    .banner__subtitle {
        margin-top: 10px;
        font-size: 18px;
    }
    .banner__link{
        margin-top: 10px;
        font-size: 12px;
    }

}
/* Hero Section End */

/* Portfolio Selection Start */
.portfolio__selection{
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
}

.portfolio__selection_inside {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.portfolio__selection_inside select {
    border: none;
    background: transparent;
    color: #e6a271;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 32px;
}
.portfolio__selection_inside span {
    display: flex;
    border: 1px solid #fff;
    justify-content: center;
    margin: 1rem;
    background: #fff;

}
.portfolio__selection_inside input {
    border: none;
    margin-left: 3px;
    color: #e6a271;

}
.portfolio__selection_inside i {
    align-self: center;
    border: none;
    color: #e6a271;

}

@media screen and (max-width: 968px) {
    /* Media Query for mobile devices  */
    .portfolio__selection_inside span {
        margin: 0;
    }
    .portfolio__selection_inside select {
        font-size: 0.5rem;
    }
    .portfolio__selection_inside input {
        width: 50%;
    }
}

/* Portfolio Options End */

/* Portfolio Images */
.portfolio__images_outside {
    display: flex;
    justify-content: center;
    align-items: center;

}
.portfolio__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
   
}
.portfolio__images img {
    width: 25%;
    
}

/* Portfolio Images End */